doctype html
head
  title Ac-News
  link(rel="stylesheet" href="../static/output.css")

  body
    each val in doc
      li#li1 <b>#{val.title}</b> (Category :-#{val.category})
        <br>
        | #{val.description}
        <br>
        a.link.text-red-500(href=`${val.url}`) Read More...
        | <i>Published by #{val.author} at #{val.published_at}#{val.published}</i>
      <br>
