doctype html
head
    title Ac-News
    style 
        include ../static/style.css
    //- script(src='../static/page.js')
    //- script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    //- script(src='https://pagination.js.org/dist/2.1.4/pagination.min.js')
    //- link(rel='stylesheet' href='https://pagination.js.org/dist/2.1.4/pagination.css')
body
    nav#navbar 
        ul 
            li 
                a(href='#ac-news') Ac-News
            li 
                a.active(href='#home') Home
            li 
                a(href='#news') News
            li 
                a(href='#about') About
            li 
                a(href='#contact') Contact

    section#sec1
        ol 
            each val in trimeddata 
                li <b>#{val.title}</b> (Category :-#{val.category})
                    <br>  
                    | #{val.description} 
                    <br>
                    a.link(href=`${val.url}`) Read More...
                    | <i>Published by #{val.author} at #{val.published} </i>
                <br>

    section.pagination
        a(href='#') Previous
        a(href='#') Next