doctype html
head
    title Ac-News
    style 
        include ../static/style.css
  
    body
        nav#navbar 
            ul 
                li 
                    a(href='#ac-news') Ac-News
                li 
                    a.active(href='#home') Home
                li 
                    a(href='#news') News
                li 
                    a(href='#about') About
                li 
                    a(href='#contact') Contact

    section#sec1
        ul 
            each val in results
                li <b>#{val.title}</b> (Category :-#{val.category})
                    <br>  
                    | #{val.description} 
                    <br>
                    a.link(href=`${val.url}`) Read More...
                    | <i>Published by #{val.author} at #{val.published_at}#{val.published}</i>
                    a(href="?p=1")
                <br>
                  
    div.pagination
        if (page > 1)
            a(href="?p="+(Number(page)-1)) &laquo; 
        if (page)
            a.active(href="?p="+(Number(page))) #{Number(page)}
        if (page > 0)  
            a(href="?p="+(Number(page)+1)) &raquo;